# tutorial 75 ,How to export Neo4j Graph Data Into Pandas DataFrame

In [15]:
from neo4j import GraphDatabase
import pandas as pd

In [16]:
driver=GraphDatabase.driver(uri="bolt://52.3.253.48:47215",auth=("neo4j","surpluses-boxes-restraint"))

In [17]:
session=driver.session()

In [18]:
q1='''
match (n:Machine) return n.name as Name
'''

In [19]:
results=session.run(q1)

In [20]:
results

In [21]:
data=data=results.data()

In [23]:
df=pd.DataFrame(data)

In [24]:
df

                    Name
0        DC1-RCK-1-1-M-1
1        DC1-RCK-1-1-M-2
2        DC1-RCK-1-1-M-3
3        DC1-RCK-1-1-M-4
4        DC1-RCK-1-1-M-5
...                  ...
7995  DC1-RCK-4-10-M-196
7996  DC1-RCK-4-10-M-197
7997  DC1-RCK-4-10-M-198
7998  DC1-RCK-4-10-M-199
7999  DC1-RCK-4-10-M-200

[8000 rows x 1 columns]